<section class="faq" *transloco="let t; prefix: 'public-pages.faq'">
  <h1>{{ t('title') }}</h1>
  <ul>
    <li>
      <strong>{{ t('whatIs.question') }}</strong> <br />{{ t('whatIs.answer') }}
    </li>
    <li>
      <strong>{{ t('whoCanUse.question') }}</strong> <br />{{ t('whoCanUse.answer') }}
    </li>
    <li>
      <strong>{{ t('isPaid.question') }}</strong> <br />{{ t('isPaid.answer') }}
    </li>
    <li>
      <strong>{{ t('dataSafety.question') }}</strong> <br />{{ t('dataSafety.answer') }}
    </li>
  </ul>
</section>
