<div #qcvRoot class="qcv4-root">
  <div class="qcv4-passage" *ngIf="!hidePassage && passageImageSource() as pUrl">
    <img class="qcv4-passage__image" [src]="pUrl" alt="Paragraf görseli" />
  </div>
  <div class="qcv4-container" [class]="'layout-' + currentLayout()">
    <div class="qcv4-question-image-wrapper">
      <div #questionImageBox [style.marginLeft.px]="currentMarginLeft()" class="qcv4-main-image-box">
        <img #questionImage class="qcv4-question-image" [src]="questionImageSource()" alt="Soru görseli"
          [style.width.px]="questionImageWidth()" (load)="updateVisualScale()" />
      </div>
    </div>
    <div class="qcv4-answers-grid" [style.marginLeft.px]="answerMarginLeft()">
      @for (answer of _questionRegion().answers; track $index) {
      <div class="qcv4-answer-card" [ngClass]="getAnswerClasses(answer)" role="button" tabindex="0"
        [attr.aria-pressed]="isSelected(answer)" attr.aria-label="Şık {{ answer.label || $index + 1 }}"
        (mouseenter)="hoverAnswer(answer)" (mouseleave)="hoverAnswer(null)" (click)="selectAnswer($index)"
        (keydown.enter)="selectAnswer($index)" (keydown.space)="$event.preventDefault(); selectAnswer($index)">
        <img class="qcv4-answer-image" [src]="answer.imageUrl" alt="Şık {{ $index + 1 }}"
          [style.width.px]="getScaledAnswerWidth(answer)" />
      </div>
      }

    </div>
  </div>