<div class="dd-root" *transloco="let t; prefix: 'shared.questionCanvas'">
  <div class="dd-canvas">
    <div class="dd-passage" *ngIf="!hidePassage && passageImageUrl() as pUrl">
      <div class="dd-passage__title" *ngIf="passageTitle() as title">{{ title }}</div>
      <img class="dd-passage__image" [src]="pUrl" [alt]="t('passageAlt')" />
    </div>

    <div class="dd-image-wrap" *ngIf="imageUrl() as url">
      <img class="dd-image" [src]="url" [alt]="t('questionAlt')" />

      <div class="dd-overlay" *ngIf="plan() as p">
        <ng-container *ngFor="let z of zones()">
          <div
            class="dd-zone"
            [ngClass]="zoneClass()(z.id)"
            [ngStyle]="zoneStyle()(z)"
            cdkDropList
            [id]="'zone-' + z.id"
            [cdkDropListData]="zoneState()[z.id]"
            [cdkDropListConnectedTo]="allDropListIds()"
            (cdkDropListDropped)="dropToZone(z.id, $event)"
          >
            <div class="dd-zone__slot" *ngIf="(zoneState()[z.id] || []).length === 0"></div>

            <div class="dd-chip" *ngFor="let item of zoneState()[z.id] || []" cdkDrag [cdkDragData]="item">
              {{ draggableLabel()(item) }}
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="dd-pool">
    <div class="dd-pool__header">
      <div class="dd-pool__title">{{ t('labels') }}</div>
      <button mat-stroked-button type="button" (click)="clearAll()">
        <mat-icon>restart_alt</mat-icon>
        {{ 'common.clear' | transloco }}
      </button>
    </div>

    <div
      class="dd-pool__list"
      cdkDropList
      id="pool"
      [cdkDropListData]="pool()"
      [cdkDropListConnectedTo]="zoneDropListIds()"
      (cdkDropListDropped)="dropToPool($event)"
    >
      <div class="dd-chip" *ngFor="let item of pool()" cdkDrag [cdkDragData]="item">
        {{ draggableLabel()(item) }}
      </div>
    </div>
  </div>
</div>
