<div class="education-categories-area ptb-140" *transloco="let t; prefix: 'landing'">
    <div class="container">
        <div class="section-title">
            <h2>{{ t('categories.title') }} <img src="assets/images/banner/line.png" alt=""></h2>
            <p>{{ t('categories.description') }}</p>
        </div>
        <div class="row justify-content-center align-items-end g-4">
            <div class="col-lg-9 col-md-12">
                <div class="row justify-content-center g-4">
                    <div class="col-xl-4 col-6">
                        <div class="education-categories-card">
                            <div class="icon"><img src="assets/images/categories/icon1.svg" alt=""></div>
                            <div class="title">
                                <h3><a routerlink="/courses" href="/hedefokul/courses">{{ t('categories.turkish') }}</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-6">
                        <div class="education-categories-card wrap2">
                            <div class="icon"><img src="assets/images/categories/icon2.svg" alt=""></div>
                            <div class="title">
                                <h3><a routerlink="/courses" href="/hedefokul/courses">{{ t('categories.math') }}</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-6">
                        <div class="education-categories-card wrap3">
                            <div class="icon"><img src="assets/images/categories/icon3.svg" alt=""></div>
                            <div class="title">
                                <h3><a routerlink="/courses" href="/hedefokul/courses">{{ t('categories.science') }}</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-6">
                        <div class="education-categories-card wrap4">
                            <div class="icon"><img src="assets/images/categories/icon4.svg" alt=""></div>
                            <div class="title">
                                <h3><a routerlink="/courses" href="/hedefokul/courses">{{ t('categories.social') }}</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-6">
                        <div class="education-categories-card wrap5">
                            <div class="icon"><img src="assets/images/categories/icon5.svg" alt=""></div>
                            <div class="title">
                                <h3><a routerlink="/courses" href="/hedefokul/courses">{{ t('categories.english') }}</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-6">
                        <div class="education-categories-card wrap2">
                            <div class="icon"><img src="assets/images/categories/icon6.svg" alt=""></div>
                            <div class="title">
                                <h3><a routerlink="/courses" href="/hedefokul/courses">{{ t('categories.life') }}</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-6">
                        <div class="education-categories-card wrap3">
                            <div class="icon"><img src="assets/images/categories/icon7.svg" alt=""></div>
                            <div class="title">
                                <h3><a routerlink="/courses" href="/hedefokul/courses">{{ t('categories.religion') }}</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-6">
                        <div class="education-categories-card wrap4">
                            <div class="icon"><img src="assets/images/categories/icon8.svg" alt=""></div>
                            <div class="title">
                                <h3><a routerlink="/courses" href="/hedefokul/courses">{{ t('categories.history') }}</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-6">
                        <div class="education-categories-card wrap5">
                            <div class="icon"><img src="assets/images/categories/icon9.svg" alt=""></div>
                            <div class="title">
                                <h3><a routerlink="/courses" href="/hedefokul/courses">{{ t('categories.physicalEducation') }}</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-12">
                <div class="education-categories-right"><a routerlink="/course-categories" class="circle-box"
                        href="/hedefokul/course-categories"><span>{{ t('categories.viewAll') }}</span><svg xmlns="http://www.w3.org/2000/svg" width="18" height="14"
                            viewBox="0 0 18 14" fill="none">
                            <path opacity="0.5" d="M16.25 6.75V7.25H1.25V6.75H16.25Z" fill="white" stroke="white">
                            </path>
                            <path d="M10.75 1L16.75 7L10.75 13" stroke="white" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                        </svg></a>
                    <div class="vector-wrap"><img src="assets/images/categories/vector.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</div>