<div class="pagination-container" *transloco="let t; prefix: 'shared.pagination'">
  <!-- Prev -->
  <button class="pagination-button prev" [disabled]="currentPage === 1" (click)="changePage(currentPage - 1)">
    {{ t('previous') }}
  </button>

  <!-- Sayfa Numaraları -->
  <button 
    *ngFor="let page of visiblePages"
    class="pagination-button"
    [class.active]="page === currentPage"
    [disabled]="page < 0"
    (click)="
      page > 0 ? changePage(page) :
      page === -1 ? skipLeft() :
      page === -2 ? skipRight() : null">
    
    <ng-container *ngIf="page > 0">{{ page }}</ng-container>
    <ng-container *ngIf="page === -1">...</ng-container>
    <ng-container *ngIf="page === -2">...</ng-container>
  </button>

  <!-- Next -->
  <button class="pagination-button next" [disabled]="currentPage >= totalPages" (click)="changePage(currentPage + 1)">
    {{ t('next') }}
  </button>
</div>
