<header class="navbar-area education-navbar-area" [class.sticky]="isSticky">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-xl">

            <a class="navbar-brand" routerLink="/welcome">
                <img src="assets/images/banner/logo.svg" alt="Hedef Okul" height="38">
            </a>

            <button class="navbar-toggler" type="button" (click)="toggleMenu()" [attr.aria-expanded]="isMenuOpen">
                <span class="toggler-icon"></span>
                <span class="toggler-icon"></span>
                <span class="toggler-icon"></span>
            </button>

            <div class="navbar-collapse" [class.show]="isMenuOpen">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item">
                        <a href="#anasayfa" class="nav-link" (click)="closeMenu()">Ana Sayfa</a>
                    </li>
                    <li class="nav-item">
                        <a href="#ozellikler" class="nav-link" (click)="closeMenu()">Özellikler</a>
                    </li>
                    <li class="nav-item">
                        <a href="#dersler" class="nav-link" (click)="closeMenu()">Dersler</a>
                    </li>
                    <li class="nav-item">
                        <a href="#nasil-calisir" class="nav-link" (click)="closeMenu()">Nasıl Çalışır?</a>
                    </li>
                    <li class="nav-item">
                        <a href="#fiyatlandirma" class="nav-link" (click)="closeMenu()">Fiyatlandırma</a>
                    </li>
                    <li class="nav-item">
                        <a href="#sss" class="nav-link" (click)="closeMenu()">SSS</a>
                    </li>
                    <li class="nav-item">
                        <a href="#blog" class="nav-link" (click)="closeMenu()">Blog</a>
                    </li>

                    <li class="nav-item nav-item-register" [class.open]="isRegisterOpen">
                        <a href="#" class="nav-link" (click)="toggleRegister($event)">
                            Kayıt Ol <span class="caret">▾</span>
                        </a>
                        <ul class="register-submenu">
                            <li><a href="/oidc-login?intent=student">Öğrenci</a></li>
                            <li><a href="/oidc-login?intent=teacher">Öğretmen</a></li>
                            <li><a href="/oidc-login?intent=parent">Veli</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="/app/login" class="nav-link">Giriş Yap</a>
                    </li>

                </ul>

            </div>

        </nav>
    </div>
</header>